{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    </head>

    <body>
        <div class="header">
			<div class="row">
				<div class="col-md-4" align="left">
					<a href="/" class="logo"><i class="bi bi-house"></i></a>
					
					<a href="events" class="logo"><i class="bi bi-calendar-event-fill"></i></a>
				</div>
				<div class="col-md-4" align="center">
					<h2 align="center" class="display-6">NearBy</h2>
				</div>
				<div class="col-md-4" align="right">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<a href="messages" class="logo"><i class="bi bi-chat-left-dots"></i></a>
						<a href="notifications" class="logo"><i class="bi bi-bell"></i></a>
						<a href="settings" class="logo"><i class="bi bi-gear"></i></a>
						<a href="events" class="logo"><i class="bi bi-person-circle"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td><b>Date</td></b>
								<td><b>Group</td></b>
								<td><b>Event</td></b>
								<td><b>Description</td></b>
							</tr>
						
							{% csrf_token %}
							{% for event in events %}
							<tr>
								<td>{{event.date_of_event}}</td>
								<td>{{event.group.name}}</td>
								<td>{{event.name}}</td>
								<td>{{event.description}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
		</div>
    </body>

</html>
